<!DOCTYPE html>
<html>
    <head>
        {% load bootstrap4 %}
        {% bootstrap_css %}
        <title>ToDo</title>
    </head>
    <body>
        <div id="content">
            <div class="container">
                 {% if user.email %}
                    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
                        <a class="navbar-brand abs">{{ message }}: {{user.email}}</a>
                        <div class="navbar-collapse collapse">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <form action="{% url 'index' %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary">Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </nav>
                {% endif %}
                <br>
                <div class="row">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>